{
  "$schema": "https://opencode.ai/config.json",
  "name": "opencode",
  "api": "https://api.deepseek.com",
  "key": "REPLACE_WITH_YOUR_KEY",
  "model": "deepseek-flash",
  "protocol": "openai-compatible",
  "call_modes": [
    "单轮对话",
    "多轮对话"
  ],
  "missing_capabilities": [
    "图像识别"
  ],
  "provider": {
    "bailian": {
      "name": "阿里百炼",
      "npm": "@ai-sdk/openai-compatible",
      "options": {
        "baseURL": "https://token-plan.cn-beijing.maas.aliyuncs.com/apps/anthropic/v1"
      },
      "models": {
        "GLM5": {
          "name": "glm-5"
        },
        "qwen3.6 plus": {
          "name": "Qwen3.6 Plus"
        }
      }
    },
    "simapp": {
      "npm": "@ai-sdk/openai-compatible",
      "options": {
        "baseURL": "https://api.deepseek.com",
        "apiKey": "REPLACE_WITH_YOUR_KEY"
      },
      "models": {
        "deepseek-flash": {
          "name": "deepseek-flash"
        }
      }
    },
    "yunbailian": {
      "models": {
        "model-1780103706848": {
          "name": "Qwen3.7 Max"
        }
      },
      "npm": "@ai-sdk/openai-compatible",
      "options": {
        "apiKey": "REPLACE_WITH_YOUR_KEY",
        "baseURL": "https://danshscope.aliyuncs.com/compatible-mode/v1",
        "setCacheKey": true
      }
    }
  },
  "opencode_provider": "simapp",
  "opencode_model": "simapp/deepseek-flash"
}
